body{
	font-family: Times, Baskerville, serif;
	font-size: 70px; 
}

a{
	text-decoration: none;
	color: black;
}

.words{
	margin-top: 20%;
}

.books{
	background-image: url("assets/images/books.jpg");
	color: white;
	font-size: 70px;
}