
/* Base */

.desaturate{

	filter: gray; /* IE */
	filter: grayscale(1); /* Firefox */
	-webkit-filter: grayscale(1); /* Chrome, Safari*/

}





/* Media Queries */

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 320px) {

}