
/* Base */

.desaturate{

	filter: gray; /* IE */
	filter: grayscale(1); /* Firefox */
	-webkit-filter: grayscale(1); /* Chrome, Safari*/

}

.inline{
	display: inline-block;
	padding: 2%;
}

.home{
	height: 1024px;
	width: 1024px;
}

.menu{

	position: absolute;
	top: 270px;
	left: 440px;
}

.verticle{
	height: 800px;
	width: 600px;
}

.container{
	height: 900px; 
	width: 100%;
}

p{
	font-size: 1em;
	font-family: 'Arimo', sans-serif;
	color: white;
}

img{
	height: 600px;
	width: 900px;
}

body{
	background: #003F87;
}

a{
	color: white;
	text-decoration: none;
	font-family: 'Arimo', sans-serif;
	font-size: 1em;
}

/* Media Queries */

@media screen and (max-width: 1024px) {

.desaturate{

	filter: gray; /* IE */
	filter: grayscale(1); /* Firefox */
	-webkit-filter: grayscale(1); /* Chrome, Safari*/

}

.inline{
	display: inline-block;
	padding: 2%;
}

.home{
	height: 1024px;
	width: 1024px;
}

.menu{

	position: absolute;
	top: 270px;
	left: 440px;
}

.verticle{
	height: 800px;
	width: 600px;
}

.container{
	height: 900px; 
	width: 100%;
}


p{
	font-size: 1em;
	font-family: 'Arimo', sans-serif;
	color: white;
}

img{
	height: 600px;
	width: 900px;
}

body{
	background: #003F87;
}

a{
	color: white;
	text-decoration: none;
	font-family: 'Arimo', sans-serif;
	font-size: 1em;
}

@media screen and (max-width: 840px) {

.desaturate{

	filter: gray; /* IE */
	filter: grayscale(1); /* Firefox */
	-webkit-filter: grayscale(1); /* Chrome, Safari*/

}

.inline{
	display: inline-block;
	padding: 2%;
}

.home{
	height: 840px;
	width: 840px;
}

.menu{

	position: absolute;
	top: 210px;
	left: 350px;
}

.verticle{
	height: 700px;
	width: 500px;
}

.container{
	height: 900px; 
	width: 100%;
}

p{
	font-size: 1em;
	font-family: 'Arimo', sans-serif;
	color: white;
}

img{
	height: 500px;
	width: 750px;
}

body{
	background: #003F87;
}

a{
	color: white;
	text-decoration: none;
	font-family: 'Arimo', sans-serif;
	font-size: 1em;
}

}

@media screen and (max-width: 768px) {

.desaturate{

	filter: gray; /* IE */
	filter: grayscale(1); /* Firefox */
	-webkit-filter: grayscale(1); /* Chrome, Safari*/

}

.container{
	height: 900px; 
	width: 100%;
}

.inline{
	display: inline-block;
	padding: 2%;
}

.home{
	height: 768px;
	width: 768px;
}

.menu{

	position: absolute;
	top: 185px;
	left: 320px;
}

.verticle{
	height: 550px;
	width: 400px;
}

p{
	font-size: 1em;
	font-family: 'Arimo', sans-serif;
	color: white;
}

img{
	height: 400px;
	width: 600px;
}

body{
	background: #003F87;
}

a{
	color: white;
	text-decoration: none;
	font-family: 'Arimo', sans-serif;
	font-size: 1em;
}

}

@media screen and (max-width: 600px) {

.desaturate{

	filter: gray; /* IE */
	filter: grayscale(1); /* Firefox */
	-webkit-filter: grayscale(1); /* Chrome, Safari*/

}

.inline{
	display: inline-block;
	padding: 2%;
}

.home{
	height: 600px;
	width: 600px;
}

.menu{

	position: absolute;
	top: 125px;
	left: 250px;
}

.verticle{
	height: 450px;
	width: 340px;
}

.container{
	height: 900px; 
	width: 100%;
}

p{
	font-size: 1em;
	font-family: 'Arimo', sans-serif;
	color: white;
}

img{
	height: 340px;
	width: 500px;
}

body{
	background: #003F87;
}

a{
	color: white;
	text-decoration: none;
	font-family: 'Arimo', sans-serif;
	font-size: 1em;
}

}

@media screen and (max-width: 480px) {

.desaturate{

	filter: gray; /* IE */
	filter: grayscale(1); /* Firefox */
	-webkit-filter: grayscale(1); /* Chrome, Safari*/

}

.inline{
	display: inline-block;
	padding: 2%;
}

.home{
	height: 480px;
	width: 480px;
}

.menu{

	position: absolute;
	top: 70px;
	left: 235px;
}

.verticle{
	height: 300px;
	width: 230px;
}

.container{
	height: 900px; 
	width: 100%;
}

p{
	font-size: 1em;
	font-family: 'Arimo', sans-serif;
	color: white;
}

img{
	height: 230px;
	width: 340px;
}



body{
	background: #003F87;
}

a{
	color: white;
	text-decoration: none;
	font-family: 'Arimo', sans-serif;
	font-size: 1em;
}

}

@media screen and (max-width: 320px) {

.desaturate{

	filter: gray; /* IE */
	filter: grayscale(1); /* Firefox */
	-webkit-filter: grayscale(1); /* Chrome, Safari*/

}

.inline{
	display: inline-block;
	padding: 2%;
}

.home{
	height: 320px;
	width: 320px;
}

.menu{

	position: absolute;
	top: 50px;
	left: 215px;
}

.verticle{
	height: 100px;
	width: 80px;
}

.container{
	height: 900px; 
	width: 100%;
}

p{
	font-size: 1em;
	font-family: 'Arimo', sans-serif;
	color: white;
}

img{
	height: 80px;
	width: 120px;
}

body{
	background: #003F87;
}

a{
	color: white;
	text-decoration: none;
	font-family: 'Arimo', sans-serif;
	font-size: 1em;
}

}